body {
    margin: 0;
    font-family: 'Arial' sans-serif;
    background-color: #f4f4f4;

}

header {
    background-color: #5d5df8;
    background-image: url('fon2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 100px 40px;
    border-bottom: 5px solid #a8a8e0;
    text-align: center;
}

h1 {
    color: gray;
    font-size: 56px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
}

header p {
    color: rgb(0, 89, 89);
    font-size: 32px;
    font-style: italic;
}

main {
    width: 80%;
    margin: 50px auto;
    /* padding: 20px 75px; */
}

.card {
    background-color: white;
    margin-bottom: 30px;
    padding: 20px 15px;
    border: 2px solid #ddd;
    border-radius: 15px;
    transition: 1.0s;
    cursor: pointer;
}

/* .special{
    background: linear-gradient(to right, white, rgb(196, 196, 196));
    border-left: 15px solid #a8a8e0;
} */

.card:hover{
    background: linear-gradient(to right, white, rgb(196, 196, 196));
    border-left: 15px solid #a8a8e0;
}


.card h2{
    transition: 1.0s;
}

.card:hover h2{
    font-size: 30px;
    margin-left: 20px;
    transform: translate(20px);
}